header.container{
   position:fixed;
   width: 100%;
   top: 0;
   display: block;
   background-color: white;
   color: var(--secondary-color);
   z-index: 10;
   /*box-shadow: 0 0 100px #0000002b;*/
   /*border-bottom: solid;*/
}

.menu{
   padding: 0 7%;
   width: 86%;
   height: 70px;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   /*box-shadow: 0 0 100px #0000002b;*/
}

.logo-header{
   margin:0;
   padding: 0;
   /*font-family: 'Hachi Maru Pop';*/
   font-family: 'Merienda One';
   color: var(--secondary-color);
   font-size: 25px;
   font-weight: 900;
   margin-left: 15px;
}

.link-header{
   margin-left: -4px;
   text-align: center;
   background-color:  white;
   display: inline-block;
   width: 100px;
   vertical-align: middle;
   padding: 23.5px 0;
}

.link-header:hover{
   margin-left: -4px;
   text-align: center;
   background-color: var(--main-color);
   color: white;
   display: inline-block;
   width: 100px;
   vertical-align: middle;
   padding: 23.5px 0;
}

.m-left{
   float: left
}
.m-right{
   display: flex;
   justify-content: center;
   align-items: center;
}

.m-right .btn{
   padding-right: 20px;
}


.m-nav-toggle{
   width: 40px;
   height: 66px;
   display: none;
   align-items: center;
   float: right;
   cursor: pointer;
   margin-right: 30px;
}

span.m-toggle-icon, span.m-toggle-icon::before, span.m-toggle-icon::after{
   content: "";
   display: block;
   width: 100%;
   height: 2px;
   background-color: var(--secondary-color);
   position:relative;   
   transition: all 0.3s ease-in-out;
}

span.m-toggle-icon::before{top: 12px;}

span.m-toggle-icon::after{top: -14px;}

.m-right.is-open{
   transform: translateX(0);
}

.m-nav-toggle.is-open span.m-toggle-icon{
   background-color: transparent;
}

.m-nav-toggle.is-open span.m-toggle-icon::after{
   transform-origin: center;
   transform: rotate(45deg);
   top: 0;
}

.m-nav-toggle.is-open span.m-toggle-icon::before{
   transform-origin: center;
   transform: rotate(-45deg);
   top: 0;
}

/* menu v2 */

#myHeader .menu .mid-menu ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


#myHeader .menu .mid-menu ul li{
    margin: 0 15px;
}
    

@media only screen and (max-width: 700px){
   .m-right{
      position : absolute;
      top: 66px; left: 0; right: 0;
      width: 100%;
      background-color: rgb(255, 255, 255);
      transform: translateY(-100%);
      transition: all   0.3s ease-in-out;
      z-index: -1;
   }

   .m-right ul{
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
   }

   .m-nav-toggle{
      display: flex;
   }
}
