html{
   --main-color: #4b67cc;
}

body{
   margin: 0;
}

header.container{
   background-color: var(--main-color);
   color: white;
}

div.container{
   background-color: white;
   color: var(--main-color);
}

footer.container{
   background-color: var(--main-color);
   color: white;
}