@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800;900&display=swap');

html{
   --main-color: #5a7bf4;
   --secondary-color: #2c2c2c;
   font-family: 'Nunito', regular;
   font-weight: 300;
   font-size: 14px;
}

body{
   margin: 0;
}

header.container{
   background-color: var(--main-color);
   color: white;
}

div.container{
   background-color: white;
   color: var(--secondary-color);
}

footer.container{
   box-shadow: 0 0 20px #0000001A;
}

.row,
.eachCoordonnees .item{
   display: flex;
}

.row > *{
   flex: 1 1 0;
}

.titleFooter{
   font-size: 16px;
   font-family: 'Nunito', extra-bold;
   font-weight: 900;
   color: var(--secondary-color);
}

p.town,
p.age,
a.phone,
p.mail{
   color: var(--secondary-color);
   text-decoration-line: none;
   margin: 0;
   padding-left: 10px;
}

a.phone:hover{
   color: var(--main-color);
   font-weight: 700;
}

.item{
   padding-bottom: 10px;
}

p.link{
   margin: 0;
   transition: all .2s ease;
}


.link:hover{
   padding-left: 1rem;
   font-weight: 700;
   color: var(--main-color);
   cursor: pointer;
}

