@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Merienda+One&display=swap');

html{
   --main-color: #5a7bf4;
   --secondary-color: #3d3d3d;
   font-family: 'Nunito', regular;
   font-weight: 300;
   font-size: 14px;
}

body{
   margin: 0;
}

header.container{
   background-color: var(--main-color);
   color: white;
}

div.container{
   background-color: white;
   color: var(--secondary-color);
}

footer.container{
   box-shadow: 0 0 20px #0000001A;
   padding: 10px 0 16px 0;
}

.row,
.eachCoordonnees .item,
.socialLinks .item{
   display: flex;
}

.row > *{
   flex: 1 1 0;
}

.titleFooter{
   font-size: 16px;
   font-family: 'Nunito', extra-bold;
   font-weight: 900;
   color: var(--secondary-color);
}

p.town,
p.age,
a.phone,
p.mail{
   color: var(--secondary-color);
   text-decoration-line: none;
   margin: 0;
   padding-left: 10px;
}

a.phone:hover{
   color: var(--main-color);
   font-weight: 700;
}

.item{
   padding-bottom: 10px;
}

a.link{
   color: var(--secondary-color);
   text-decoration-line: none;
   margin: 0;
   transition: all .2s ease;
}


.socialLinks .link:hover{
   font-weight: 700;
   color: var(--main-color);
   cursor: pointer;
}

.socialLinks .item{
   padding-left: 10px;
}

.linkPages .link:hover{
   padding-left: 1rem;
   font-weight: 700;
   color: var(--main-color);
   cursor: pointer;
}


.logo{
   align-self: center;
}

a.logoNinon{
   display: block;
   text-align: center;
   /*font-family: 'Hachi Maru Pop';*/
   font-family: 'Merienda One';
   color: var(--secondary-color);
   font-size: 30px;
   font-weight: 900;
   text-decoration-line: none;
}